*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg, #ffe53bd8 , #ff2525da );
    display: flex;
    justify-content: center;
    align-items: center;
}